@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// Custom Colors
$main-green: #C4E4DF;
$main-white: #F8F8F6;

// Z-index
$z-tooltip: 10;
$z-fixed: 100;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #111;
}

input {
    outline: none;
}

.hero__img {
    max-width: 100%;
    height: 100%;
    width: 790px;
    height: 789px;
}

.main-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Hero
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #F8F8F6, #C8E5E1, #C4E4DF);
}

section {
    position: relative;
    width: 100%;
}

.hero__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

// form content
.form__content {
    height: 531px;
    width: 461px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: -10px;
    box-shadow: 1px 1px 7px #121212;
}

.language__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70%;
    margin-top: 10px;

    .language__name {
        opacity: 0.8;
        font-family: "Poppins", sans-serif;
        margin-right: 5px;
    }

    .symbol {
        opacity: 0.7;
    }
}

.language__container:hover {
    opacity: 0.4;
    cursor: pointer;
}

.form__title {
    color: #6B6B6B;
    font-size: 25px;
    font-family: "Segoe UI", sans-serif;
}

.form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;

    .email__input {
        width: 344px;
        height: 67px;
        padding-left: 1rem;
        letter-spacing: 2px;
        background-color: #EBF9F7;
        border: 1px solid rgba(0,0,0,0.15);
        font-size: 21px;
        color: #6B6B6B;
        border-radius: 5px;
        transition: 0.5s;
    }

    .email__input:hover {
        opacity: 0.8;
    }

    .password__input {
        width: 344px;
        height: 67px;
        padding-left: 1rem;
        letter-spacing: 2px;
        background-color: #EBF9F7;
        border: 1px solid rgba(0,0,0,0.15);
        font-size: 21px;
        color: #6B6B6B;
        border-radius: 5px;
        margin-top: 1.5rem;
        transition: 0.4s;
    }

    .password__input:hover {
        opacity: 0.8;
    }

    .login__button {
        margin-top: 1.5rem;
        width: 364px;
        height: 67px;
        background-color: #85CEC2;
        border: transparent;
        border-radius: 10px;
        color: #FFF;
        font-size: 26px;
        font-family: "Segoe UI", sans-serif;
        font-weight: 500;
        transition: 0.5s;
        cursor: pointer;
    }

    .login__button:hover {
        background-color: #50C1AE;
    }

    .forget__button {
        color: #85CEC2;
        margin-top: 1rem;
        cursor: pointer;
        font-size: 20px;
        font-family: "Segoe UI", sans-serif;
        background-color: transparent;
        border: transparent;
        transition: 0.5s;
    }

    .forget__button:hover {
        color: rgba(0,0,0,0.7);
    }

    .forget__link {
        color: #85CEC2;
        margin-top: 1rem;
        cursor: pointer;
        font-size: 20px;
        font-family: "Segoe UI", sans-serif;
        background-color: transparent;
        border: transparent;
        transition: 0.5s;
        text-decoration: none;
    }

    .forget__link:hover {
        color: rgba(0,0,0,0.7);
    }
}

// image
.hero__img {
    width: 790px;
    height: 789px;
    opacity: 0.8;
    
}

/*=============================== HOME PAGE =========================================*/
/*============================ NAVBAR ====================================*/

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 92vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-left: 2rem;
    z-index: 10000;
}

.nav__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo__container {
        font-size: 2.5rem;
        text-transform: capitalize;
        width: 55%;
        cursor: pointer;
    }

    .logo {
        transition: 0.3s;
        color: #FFF;
    }

    .logo:hover {
        color: #50C1AE;
    }

    .nav__menu {
        width: 45%
    }

    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
        padding: 0 5rem;
        text-decoration: none;
    }

    .nav__item {
        list-style: none;
        padding-right: 2rem;
    }

    .nav__link {
        color: #FFF;
        font-size: 1.7rem;
        transition: 0.3s;
        list-style: none;
        text-decoration: none;
    }

    .nav__link:hover {
        color: #85CEC2;
    }
}

/* HERO */
.hero-home {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-home:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    z-index: 1;
    background: linear-gradient(to top, #111, transparent);
}

.hero__container-home {
    width: 100vw;
    height:  100vh;
}

.fitBg-home {
    position: absolute;
    top: 0;
    
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.65;
    transition: 10s ease;
    animation: linear;
    animation-name: background;
    animation-duration: 3.5s;
}

@keyframes background {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
    
}

.message__container-home {
    z-index: 10000;
    position: absolute;
    top: 40%;
    left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: linear;
    animation-name: message;
    animation-duration: 3.5s;
    
    @keyframes message {
        0%{
            left:  -50%;
        }
        100%{
            left: 3%;
        }
        
    }

    .message__title-home {
        color: #FFF;
        font-size: 3rem;
    }

    .message__intro-home {
        color: #FFF;
        font-size: 1.75rem;
    }

    .message__start-home {
        color: #121212;
        font-size: 1.5rem;
        background-color: #FFF;
        border: none;
        padding: 0.7rem;
        margin-top: 1.5rem;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
    }

    .message__start-home:hover {
        opacity: 0.7;
    }
}

/*====================== SIGN UP ==============================*/

.signup__button {
    margin-top: 1.5rem;
    width: 182px;
    height: 67px;
    background-color: #85CEC2;
    border: transparent;
    border-radius: 10px;
    color: #FFF;
    font-size: 26px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}

.info__container {
    
}